{% if site.data.settings.benefits_section.enabled %}

<div class="benefits-section">
  <div class="headline">
    <h2>{{ site.data.settings.benefits_section.header }}</h2>
    <h3>{{ site.data.settings.benefits_section.subheader }}</h3>
  </div>
  <div class="benefits">
    <div class="benefit end">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" width="29" height="26" loading="lazy" />
      </div>
      <h3>{{ site.data.settings.benefits_section.benefit_1 }}</h3>
    </div>
    <div class="benefit">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" width="29" height="26" loading="lazy" />
      </div>
      <h3>{{ site.data.settings.benefits_section.benefit_2 }}</h3>
    </div>
    <div class="benefit end">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" width="29" height="26" loading="lazy" />
      </div>
      <h3>{{ site.data.settings.benefits_section.benefit_3 }}</h3>
    </div>
    <div class="benefit">
      <div class="new-checkmark">
        <img src="{{ site.baseurl }}{{ site.data.settings.benefits_section.icon_image }}" alt="Checkmark icon" width="29" height="26" loading="lazy" />
      </div>
      <h3>{{ site.data.settings.benefits_section.benefit_4 }}</h3>
    </div>
  </div>
</div>

{% endif %}
