<div class="faq-container-post">
    <section class="faq-post">
        <div class="faqs-header-post">
            <h1>Frequently Asked Questions</h2>
        </div>

        {% for itempost in page.post_faqs %}
            <div class="faq-item-post">
                <h2>{{ itempost.question }}</h3>
                <p>{{ itempost.answer }}</p>
            </div>
        {% endfor %}
    </section>
</div>


 <script>
    // Simple toggle for FAQ answers
    document.querySelectorAll(".faq-item-post h2").forEach(item => {
      item.addEventListener("click", () => {
        item.parentElement.classList.toggle("active");
      });
    });
  </script>