{%- assign is_preview = include.is_preview_mode | default: true -%}
{%- if include.is_preview_mode == false -%}
    {%- assign is_preview = false -%}
{%- endif -%}


{% if site.data.faqs.show_faqs_section and site.data.faqs.faqs_questions.size > 0 %}
    <div class="faq-container">
        <section class="faq">
            <div class="faqs-header">
                {% if is_preview %}
                    <h4>Frequently Asked Questions</h4>
                {% else %}
                    <h1>Frequently Asked Questions</h1>
                {% endif %}
            </div>

            {% if is_preview %}
                {% for item in site.data.faqs.faqs_questions | limit: site.data.faqs.limit_on_homepage %}
                    {% if item.show_on_page %}
                    <div class="faq-item">
                        {% if is_preview %}
                            <h5>{{ item.question }}</h5>
                        {% else %}
                            <h2>{{ item.question }}</h2>
                        {% endif %}

                        <p>{{ item.answer }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for item in site.data.faqs.faqs_questions %}
                    {% if item.show_on_page %}
                    <div class="faq-item">
                        {% if is_preview %}
                            <h5>{{ item.question }}</h5>
                        {% else %}
                            <h2>{{ item.question }}</h2>
                        {% endif %}

                        <p>{{ item.answer }}</p>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}

            {% if is_preview and site.data.faqs.faqs_questions.size > site.data.faqs.limit_on_homepage %}
                <div class="cta-button-container">
                    <div class="cta-button inverted">
                        <a href="/faq">
                        <button>View All FAQs</button>
                        </a>  
                    </div>
                </div>
            {% endif %}
            
        </section>
    </div>
{% endif %}

<!-- need to select all faq-item h2 and h5 elements -->
<script>
    document.querySelectorAll(".faq-item h2, .faq-item h5").forEach(item => {
        item.addEventListener("click", () => {
            item.parentElement.classList.toggle("active");
        });
    });
</script>