<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
	{% include navigation.html %}

	<div class="container-fluid pt-7rem flex">
		<div class="new-post-column">

			<main>
				<div class="row post-container">
					<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
						<h1 class="post-title" itemprop="headline">{{page.title}}</h1>
						<h2 class="post-subtitle" itemprop="abstract">{{page.subtitle}}</h2>
						<div class="twelve columns post-content" itemprop="articleBody">
							{{ content }}

							<!-- Check if post has Q&A -->
							{% if page.post_faq_enabled %}
								{% include faqs-post.html %}
							{% endif %}

							{% include more-posts.html %}
						</div>
					</article>
				</div>
			</main>
		</div>
	</div>
	{% include about.html%}
	{% include benefits.html %}
	{% include testimonials.html %}
	{% include top-button.html %}
	{% include bottom-navigation.html %}
	{% include footer.html %}
</body>

</html>